.page {
  max-width: 320px;
  font-family: 'TT Lakes';
}
@media (min-width: 200px) and (max-width: 767px) {
  .page {
    max-width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1120px) {
  .page {
    max-width: 100%;
  }
}
@media (min-width: 1121px) {
  .page {
    max-width: 100%;
  }
}
